div{
    border: 1px dashed blue;
    width: 200px;
}
.swiming{
    position: relative;
}
#ring{
    position: sticky;
    left: 0px;
    top: 50px;
}
.hello{
    height: 150px;
}
.hi{
    height: 100px;
}